.cell {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0;
  padding: 0;
}

.potion {
  background: url('./../../images/potion.png');
  background-size: 100%;
}

.weapon {
  background: url('./../../images/swords.png');
  background-size: 100%;
}

.monster1 {
  background: url('./../../images/wolf.png');
  background-size: 100%;
}

.monster2 {
  background: url('./../../images/deer.png');
  background-size: 100%;
}

.monster3 {
  background: url('./../../images/fox.png');
  background-size: 100%;
}

.monster4 {
  background: url('./../../images/owl.png');
  background-size: 100%;
}

.wall {
  background: url('./../../images/tree.png');
  border-radius: 4px;
  border: 1px dashed #13590a;
  width: 18px;
  height: 18px;
}

.road1 {
  background: url('./../../images/road1.png');
  padding: 0 10px;
  margin: 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.road3 {
  background: url('./../../images/road3.png');
  padding: 0 10px;
  margin: 0 -10px;
  background-size: contain;
}

.bossImg {
  background: url('./../../images/witch.png') center no-repeat;
  padding: 20px 3px 0px 3px;
  margin: -20px -3px 0px -3px;
  background-size: contain;
}

.hero {
  background: url('./../../images/warrior.png');
  background-size: 100%;
  // padding: 10px;
  // margin: -10px;
}
