.cell {
  width: 8px;
  height: 8px;
  float: left;
  margin: 0;
  padding: 0;
  background: #b3eda8;
}

.potion {
  background: blue;
}

.weapon {
  background: orange;
}

.monster {
  background: red;
}

.hero {
  background: green;
}
