#window {
  width: 600px;
  height: 400px;
  margin: 20px auto;
  border: 3px solid #aaa;
  overflow: hidden;
  background: #333;
}

#map {
  width: 1500px;
  height: 1000px;
  background: url('./../../images/grass.png');
  position: relative;
  top: 90px;
  left: 190px;
  outline: none !important;
}

// #screen {
//   width: 600px;
//   height: 400px;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   z-index: 10000;
//   background: green;
//   opacity: 0.5;
// }

.btn {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  margin: 10px auto;
  &:hover {
    box-shadow: inset 3px 3px 3px #ddd;
  }
}
